<section id="contact-us">
        <div class="contact-container">
          <div class="form">
            <form action="/" method="post">
              <label for="Name">Name</label><br />

            <input id="name" type="text" name="fName" placeholder="First Name" required autocomplete="name" />
              <input id="lastname" type="text" name="lName" placeholder="Last Name" required autocomplete="name" />
              <br />

              <label for="email">Email</label><br />
              <input id="email" type="email" name="eMail" placeholder="Write your e-mail" required autocomplete="email"/><br />

              <label for="message">Write your message</label><br />
              <textarea
                name="message"
                id="message"
                placeholder="Write your message..."
                rows="6"
                cols="55"
              ></textarea>

              <button>Submit</button>
            </form>
          </div>

          <div class="contact-info">
            <h4>Contact</h4>
            <h3>Get in touch with Us</h3>
            <p>
  Have questions about our driving courses, registration process, or scheduling? Send us an email and our team will respond promptly with all the details you need. Whether you're a first-time driver or looking to upgrade your skills, we're here to guide you every step of the way. Reach out today and let’s get you started on the road to your license.

            </p>

            <div class="contact">
              <a><i class="fa-solid fa-location-dot"></i>Opp. Elo high school, Ayetoro - Ekiti.</a>

               <a href="tel:+2347061005306"
              ><i class="fa-solid fa-phone"></i>+234 706 100 5306</a
            >

               <a href="mailto:jeremiahsunday601@gmail.com"
              ><i class="fa-solid fa-envelope"></i>jeremiahsunday601@gmail.com</a
            >
            </div>
          </div>
        </div>
      </section>