 <section id="courses">
        <div class="courses-container">
          <div class="text">
            <div class="content">
              <h4>Our Courses</h4>
              <h3>Steering you in the right direction</h3>
            </div>
            <div class="content">
              <p>
                Our driving courses are designed to equip learners with the skills, confidence, and knowledge needed for safe and responsible driving. Whether you're a beginner or looking to refine your technique, our curriculum combines expert instruction with real-world practice. Each course is tailored to meet individual learning styles and pace. Join us and take the first step toward mastering the road.
              </p>
              <button onclick="window.location.href='#pricing'" >Go to Courses <i class="fa-solid fa-arrow-right"></i></button>
            </div>
          </div>
               </div>
      </section>