
      <section id="footer">
        <div class="footer-container">
          <div class="contents">
            <div class="brand">Arinye DS</div>
            <p>Drive with Confidence. Learn with Arinye.</p>
            <div class="social">
              <a class="fa-brands fa-twitter"></a>
              <a class="fa-brands fa-youtube"></a>
              <a class="fa-brands fa-whatsapp"></a>
            </div>
          </div>

          <div class="contents get-in-touch">
            <h4>Get in Touch</h4>
               <a href="tel:+2347061005306"
              ><i class="fa-solid fa-phone"></i>+234 706 100 5306</a
            >

               <a href="mailto:jeremiahsunday601@gmail.com"
              ><i class="fa-solid fa-envelope"></i>jeremiahsunday601@gmail.com</a
            >
          </div>
          <div class="contents contact">
            <h4>Contact</h4>
            <a href="mailto:jeremiahsunday601@gmail.com">Email Us</a><a href="">Company</a><a href="">Career</a
            ><a href="">How We Work</a>
          </div>
        
      </section>

      </div>

    <script src="./function.js"></script>
  </body>
</html>