<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/b4fe2c0bf5.js"
      crossorigin="anonymous"
    ></script>
    <title>Arinye Driving School Webpage</title>
  </head>
  <body>
    <div class="container">
      <!-- Top Header -->

      <div class="stick">
        <header>
          <div class="contact">
            <a href="tel:+2347061005306"
              ><i class="fa-solid fa-phone"></i>+234 706 100 5306</a
            >

            <a href="mailto:jeremiahsunday601@gmail.com"
              ><i class="fa-solid fa-envelope"></i>jeremiahsunday601@gmail.com</a
            >
          </div>
          <div class="social">
            <a class="fa-brands fa-twitter>"></a>
            <a class="fa-brands fa-instagram"></a>
            <a class="fa-brands fa-whatsapp"></a>
          </div>
        </header>

        <!-- Navigation Bar -->
        <nav>
          <div class="brand">Arinye DS</div>

          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#courses">Courses</a></li>
            <li><a href="#contact-us">Contact</a></li>
          </ul>

          <i class="fa-solid fa-bars"></i>

          <button onclick="window.open('mailto:jeremiahsunny601@gmail.com');" >Contact Us</button>
        </nav>

        <div class="menu">
            <div class="top"><div class="brand">Arinye DS</div> <i class="fa-solid fa-caret-left" style="font-size: 2rem;"></i></div>

          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#courses">Courses</a></li>
            <li><a href="#contact-us">Contact</a></li>
          </ul>

          <button onclick="window.open('mailto:jeremiahsunny601@gmail.com');">Contact Us</button>

        </div>


      </div>
