 <section id="pricing">
        <div class="pricing-container">
          <h4>Prices</h4>
          <div class="plans-container">
            <div class="plans">
              <h4>Pre-Licensing Course</h4>
              <h3>Get Familiar with your Drive</h3>
              <h2><i class="fa-solid fa-naira-sign"></i>20,000</h2>
              <ul>
                <li>Road Rules</li>
                <li>Traffic Signs</li>
                <li>Theory Classes</li>
                <li>Test Prep</li>
                <li>First-time Drivers</li>
              </ul>
            </div>
            <div class="plans">
              <h4>Basic Course</h4>
              <h3>Start Driving in No Time</h3>
              <h2><i class="fa-solid fa-naira-sign"></i>60,000</h2>
              <ul>
                <li>Vehicle Control</li>
                <li>Road Safety</li>
                <li>Driving Practice</li>
                <li>Traffic Signs</li>
                <li>Beginner Friendly</li>
              </ul>
            </div>
            <div class="plans">
              <h4>Refresher Course</h4>
              <h3>Get back on the road now</h3>
              <h2><i class="fa-solid fa-naira-sign"></i>45,000</h2>
              <ul>
                <li>Skill Update</li>
                <li>Confidence Boost</li>
                <li>Defensive Driving</li>
                <li>Test Readiness</li>
                <li>Licensed Drivers</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
