<section id="process">
        <div class="process-container">
          <h4>Our Process</h4>
          <h3>Simple Steps to Getting your driving License</h3>

          <div class="card-container">
            <div class="card">
              <h3>Enroll and Register</h3>
              <h4>Sign Up for your driving journey</h4>
              <ul>
                <li>Get across to us</li>
                <li>Choose your preferred course</li>
                <li>Get matched with an instructor</li>
                <li>Schedule your first lesson</li>
              </ul>
            </div>

            <i class="fa-solid fa-arrow-right" style="align-self: center;"></i>

            <div class="card">
              <h3>Learn and Practice</h3>
              <h4>Master the road with Expert guidance</h4>
              <ul>
                <li>Attend theory classes</li>
                <li>Hands-on driving sessions</li>
                <li>Mock tests and Examination</li>
                <li>Receive feedback and improvement tips</li>
              </ul>
            </div>

            <i class="fa-solid fa-arrow-right" style="align-self: center;"></i>

            <div class="card">
              <h3>Pass and Get Licensed</h3>
              <h4>Take the test and earn your license</h4>
              <ul>
                <li>Book your test with the licensing authority</li>
                <li>Pass the Examination</li>
                <li>Drive away with your driver's license at hand</li>
              </ul>
            </div>
          </div>
        </div>
      </section>