 <section id="team">
        <div class="about-container">
          <div class="content about-text">
            <h4>Our Team</h4>
            <h3>Learn to Drive from Professionals</h3>
            <p>
              Meet the passionate professionals behind Arinye Driving School. Our team of certified instructors brings years of experience, patience, and a deep commitment to road safety. We believe in personalized training that adapts to each learner’s pace and confidence level. With Arinye, you're not just learning to drive — you're joining a community that cares.
            </p>
          </div>
        
        <div class="content">
          <img
            src="/images/ryan-porter-phoEG7SinuM-unsplash.webp"
            alt=""
            srcset=""
          />
        </div>
        </div>
      </section>
